* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width:100%;
	display: grid;
	grid-template-rows: 40px auto 4rem;
	height: 100vh;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
	display: flex;

	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-bottom: 1px solid black;
}

main{
	background-color: lightblue;
}

ul {
	padding: 5px;
	margin: 3px;
}

ul li {
	padding: 5px;
	margin: 3px;
}

.categoriesLi {
	display: flex;
	align-items: center;
	justify-content: center;
}

.categoryLi {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	border: 1px solid black;
	margin-top: 5px;
	margin-bottom: 5px;
}

.categoryLi p {

}

.categoryImage {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0.5%;
	padding: 5px;
}

.tags {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-top: 1px solid black;
}





