* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width:100%;
	display: grid;
	grid-template-rows: 40px auto 4rem;
	height: 100vh;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
	display: flex;

	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-bottom: 1px solid black;
}

main{
	background-color: lightblue;
}

ul {
	padding: 5px;
	margin: 3px;
}

ul li {
	padding: 5px;
	margin: 3px;
}

.categoriesLi {
	display: flex;
	align-items: center;
	justify-content: center;
}

.categoryCards {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-top: 2px;
}

.categoryCard {
	display: flex;
	flex-direction: column;
	flex-basis: 0;
	flex-grow: 1;
	padding: 10px;
	margin: 11px; 
	border-radius: 5px;
	border: 1px solid black;
}

.categoryImage {
	align-items: center;
	margin: 0.5%;
	padding: 5px;
}

.tags {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10%;
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
	border-top: 1px solid black;
}





