<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Review of Anime</title>
</head>

	<style>
		img {
			display: block;
			max-width: 685px;
			max-height: 300px;
			width: auto;
			height: auto;
		}
	</style>

<body>
	<header>
		<h1 th:text="${review.title}"></h1>
	</header>
	
	<article th:each="reviews: ${review}">
		<img th:src="${review.imageUrl}" />
		<h2>Description</h2>
			<p th:text="${review.description}" />
		<h4>Tags</h4>
			<p><a th:href="@{/tag(id=${review.id})}" th:text="${review.tags}" ></a></p>
	</article>
		<a href="http://localhost:8080/categories">Back to Home</a>
		<a href="http://localhost:8080/category?id=1">Back to Category</a>
		
</body>
</html>