<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tags</title>
</head>
<body>
	<header>
		<h1 th:text="${tag.name}"></h1>
	</header>
	
	<main>
		<section>
			<article>
				<h2>Anime associated with <strong th:text="${tag.name}"></strong> </h2>
			</article>
		</section>
		
		<section th:each="tag: ${tag.reviews}">
			<ul>
				<li><h4><a th:href="@{/review(id=${tag.id})}" th:text="${tag.title}"></a></h4></li>
			</ul>
		</section>
	</main>
	
	<footer>
		<p>
			<a href="http://localhost:8080/categories">Back to Home</a>
			<a href="http://localhost:8080/category?id=1">Back to Category</a>
		</p>
	</footer>

</body>
</html>